/*GENERAL STYLES*/
*{
	box-sizing: border-box;
	font-size: 16px;
}

/* google fonts */
.dynapuff-header { /* use this for headers -  add new class if changing weight/style */
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.truculenta-body { /* use this for body -  add new class if changing weight/style */
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Colour Scheme Darkest to Lightest */ 
:root {
    /* created variables of colours - use var(variablename) isntead of hexcode in classes - e.g. color: var(--clr-slate-gray) */
    --clr-charcoal: #243c4cff;
    --clr-charcoal-2: #2c444cff;
    --clr-air-force-blue: #5289adff;
    --clr-slate-gray: #698696ff;
    --clr-ash-gray: #acbcbfff;
    --clr-mint-cream: #f4fcfbff;
}

/*
style notes for team developers
all class names for your pages should be(to avoid overwritting others css code): pageNo_whateverElse  eg. p1_mainTitle
select element in css using id or classes (to avoid overwritting others css code)

use rem unit for any text size(good for responsiveness)



*/







/*HOME PAGE*/
.p0_title{
	margin-top:5rem;
	margin-bottom: 5rem;
	font-size: 7rem;
	text-align: center;
}

.p0_allArticles{
	width: 100%;
	display:flex;
	justify-content: center;
}
.p0_cardContainer{
	width:100%;
}
/*RITIKA*/




/*ERNESTO*/




/*SZYMON*/




/*SHOURYA*/
.p3-1_title{
	margin-top: 2rem;
	margin-bottom: 3rem;
	font-size: 3rem;
	text-align: center;
	text-shadow: 2px 2px var(--clr-ash-gray);
}

.p3-1_img1{
	float: right;
	margin-left: 1rem;
}

.p3-1_para1{
	margin-bottom: 3rem;
	padding: 15px;
	text-align: justify;
}

.p3-1_img2{
	float: left;
	margin-right: 1rem;
}

.p3-1_para2{
	padding: 15px;
	text-align: justify;
	margin-bottom: 4rem;
}

.p3-1_title, .p3-2_title, .p3-2_title2{
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}	

.p3-1_para1, .p3-1_para2, .p3-2_para1, .p3-2_para2{
	font-family: "Truculenta", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:"wdth" 100;
}	
.p3-2_title{
	margin-top: 2rem;
	margin-bottom: 3rem;
	font-size: 3rem;
	text-align: center;
	text-shadow: 2px 2px var(--clr-ash-gray);
}

.SU *{
	box-sizing: border-box;
 }
 
.SU{
	padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.SU form{
	margin: 5px;
	margin-right: 14px;
}

.SU img{
	margin: 3px;
	margin-left: 14px;
}

.SU div{
    display: flex;
    flex-direction: row-reverse;
}

.p3-2_para1, .p3-2_para2{
	text-align:justify;
	padding: 5px;
}

.p3-2_form{
	margin-right:1rem;
	text-align: center;
	width: 200%;
	border: 2px solid black; /* The border */
    border-radius: 10px; /* for smooth corners */
    background-color: var(--clr-ash-gray);  
	padding: 5px;
	box-shadow: 0 0 10px 1px var(--clr-charcoal-2);
}
.p3-2_form input{
	border: 2px solid black;
	background-color: var(--clr-mint-cream);
}
.p3-2_form input[type="checkbox"]{
	width: 15px;
    height: 15px;
	display: inline-block;
    vertical-align: middle;
	cursor: pointer;
}

.p3-2_form label{
	font-weight: bold;
}

.p3-2_button{
	background-color:var(--clr-charcoal-2);
	color:var(--clr-mint-cream);
}

.p3-2_title2{
	margin-bottom: 2rem;
}

.SU #base1, #base2{
	width: 80%;
}

.p3-2_background, .p3-1_background{
	background-color: var(--clr-slate-gray);
}

@media screen and (max-width: 768px){
	.p3-1_img1{
		float: none;
		margin-left: 0.6rem;
		margin-bottom: 2rem;      
	}
	.p3-1_img2{
		float: left;
		margin-left: 0.6rem;
		margin-bottom: 2rem;
	}
	
	.SU div {
		flex-direction: column;
		gap: 10px;
    }
	
	.SU2{
		margin: 0rem;
		float: left;
		padding: 0px;
	}
	
	.p3-2_form{
		text-align: center;
		width: 98%;	
	}
	
	.SU #base1, #base2{
		width: 70%;
	}
	
	.p3-2_title2{
		margin-bottom: 2rem;
	}
	
	.SU img, form{
		margin: 5px;
	}
	
	.SU2 p{
		padding: 10px
	}
}  

